<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 navbar-dark" href="/home"><b>ATR</b></a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/home">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="/jenkins" data-toggle="collapse"
              data-target="#submenu1"><i class="fa fa-table"></i>
              <span class="d-none d-sm-inline">Jenkins Job</span></a>
            <div class="collapse" id="submenu1" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item">
                  <a class="nav-link py-0" href=""><span>Orders</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-0" href=""><span>Orders</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-0" href=""><span>Orders</span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span></span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="">
              <span data-feather="file-text"></span>
              <button class="btn btn-sm btn-outline-danger" (click)="logout()">Logout</button>
              <!-- <a class="nav-item nav-link btn btn-sm btn-outline-danger" (click)="logout()">Logout</a> -->
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
